---

---

<div class="container">
  <nav class="menu">
    <div class="inner">
      <ul>
        <li><a href="/program">PROGRAM</a></li>
        <li><a href="/singleview">FESTIVAL MAP 2024</a></li>
        <li><a href="/forside">FAQ</a></li>
        <li><a href="/forside">NYHEDSBREV</a></li>
      </ul>
    </div>
  </nav>
  <div class="burger-icon">&#9776;</div>
</div>

<style>
  .menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: white; /* Flyttet fra .menu ul til her for at undgå gentagelse */
  }

  .menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    justify-content: flex-end;
    align-items: center;
  }

  .burger-icon {
    display: block;
    cursor: pointer;
    font-size: 60px;
    color: rgb(255, 255, 255);
    transition: transform 1s ease; /* Tilføj en overgangseffekt på transform */
  }

  .burger-icon.active {
    transform: rotate(360deg); /* Roter ikonet ved fold ud */
    transform-origin: center; /* Sæt transform-origin til midten */
  }
  .burger-icon {
    display: block;
    position: relative;
    z-index: 100;
  }

  .menu {
    background-image: url(/bm.png);
    background-size: cover;
    margin: 0px;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
  }

  .menu.active {
    display: block;
  }

  .menu a {
    text-decoration: none;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: Lexend;
    padding-top: 50px;
    display: flex;
    margin: 20px;
  }

  .menu ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
    border-bottom: 4px solid transparent;
    transition: border-color 0.3s ease;
    margin-left: 200px;
    margin-right: 200px;
  }

  .menu ul li a:hover {
    border-bottom-color: white;
    color: #ce84f0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgerIcon = document.querySelector(".burger-icon");
    const menu = document.querySelector(".container .menu");

    burgerIcon.addEventListener("click", function () {
      menu.classList.toggle("active");
      burgerIcon.classList.toggle("active");
    });
  });
</script>
