---

---

<div class="pil">
  <a href="/program">
    <img src="/pil_venstre.png" alt="pil" />
  </a>
</div>
<style>
  .pil {
    overflow: hidden;
    display: inline-block;
  }

  .pil img {
    transition: transform 0.3s ease; /* Tilføj overgang for zoom-effekten */
  }

  .pil:hover img {
    transform: scale(1.2); /* Zoom ind med 10% (juster efter behov) */
  }
</style>
