---

---
      <footer>
        <div class="footer-content">
          <div class="footer-info">
            <p>COPENHAGEN LIGHT FESTIVAL</p>
            <p>Email: <a href="mailto:info@copenhagenlightfestival.org">info@copenhagenlightfestival.org</a></p>
            <p>Phone: <a href="tel:+4525556604">+45 25 55 66 04</a></p>
            <p>FAQ & Om os</p>
            <p>Tilmeld dig vores nyhedsbrev</p>
          </div>
        </div>
    
        <div class="social-links">
            <a href="https://www.instagram.com/cphlightfest/"><img src="icon-instagram.svg" alt="Instagram"></a>
            <a href="https://www.facebook.com/cphlightfest/"><img src="icon-facebook.svg" alt="Facebook"></a>
          </div>
   
      </footer>
    </div>

  
  <style>

    footer {
      background-color: #121318;
      color: #fff;
      padding: 20px;
      display: flex;

    }
    .footer-content {
      display: grid;
      grid-template-columns: 1fr 3.8fr;
    }
    .footer-info p {
      margin: 5px 10px;
      font-size: small;
      display: flex;
      
    }
    .footer-links ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
   

    }

    footer a {
        color: white;
    }
    .footer-links ul li {
      margin-right: 10px;
    }
    .footer-links ul li:last-child {
      margin-right: 0;
  
    }
    .footer-links ul li a {
      color: #ffff;
      text-decoration: none;
    }
    .social-links {
      display: flex;
   
    }
    .social-links a {
      margin-left: 9px;
    }
    .social-links img {
      width: 70px; 
      height: 30px;
    }
  </style>
