---
import Burgermenu from "./Burgermenu.astro";
---
<body>
  

<div class="logo">
<a href="index.html">
  <img src="/logo.png" alt="logo" />
</a>
</div>

<nav class="menu">
  <ul>
    <li>2-25 februar 2024</li>

    <li><a href="/index">FORSIDE</a></li>
    <li><a href="/program">PROGRAM</a></li>
    <li><a href="/singelview">MAP</a></li>

    <li><Burgermenu /></li>
  </ul>
</nav>
</body>
<style>

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
  }

  .menu li {
    margin: 0 20px;
    color: white;
    font-family: Lexend;
  }

  .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);

    padding: 15px 50px;
  }

  .menu a:hover {
    background: radial-gradient(#6f2790 0%, #66f0e0 100%);
    opacity background 0.62;
    border-radius: 50%;
  
    border: 3px solid #000000;
  }

  .logo {
    position: absolute;
    width: 10%;
    top: 2%;
    left: 5%;
  }
</style>
