---
import MainLayout from "../Layout/MainLayout.astro";
import Button2 from "../Komponenter/Button2.astro";
---

<MainLayout title="CLF" background="illustration2">
  <article>
    <div class="image-text-container">
      <img class="forside_img" src="/forside_img.webp" alt="" />
      <div class="text-overlay">
        <h1>LYS, KUNST, DESIGN, <br /> EVENTS OG BÆREDYGTIGHED</h1>
      </div>
    </div>
    <div class="container">
      <h2>Kære lysentusiast</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque,
        dignissimos. Amet sed aut debitis quas voluptas repellendus recusandae
        saepe atque, in nulla sint veritatis dolores, facere totam fugit
        expedita quia.
      </p>
      <img src="your-image.jpg" alt="Et billede af mig" />
      <div>
        <h2>Events</h2>
        <div class="forside_grid">
          <div>
            <img src="your-image.jpg" alt="Et billede af mig" />
            <button>Lysløbet</button>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. A
              blanditiis sit fugiat quas reiciendis optio incidunt repudiandae,
              quo voluptatem rerum excepturi praesentium debitis, ea asperiores
              similique. Voluptatibus sequi ex sit.
            </p>
          </div>
          <div>
            <img src="your-image.jpg" alt="Et billede af mig" />
            <button>AfterDAC</button>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
              ipsam hic accusantium rem? Consectetur autem soluta nulla? Eum
              temporibus optio voluptate ab, illum sunt quaerat eius assumenda
              beatae quia facilis!
            </p>
            <Button2 />
          </div>
        </div>
      </div>
      <div class="udforsk">
        <h2>Udforsk vores værker</h2>
        <button
          >Klik her <link rel="stylesheet" href="singelview.astro" /></button
        >
      </div>
    </div>
  </article>
</MainLayout>
<style>
  .forside_img {
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    color: #f3f0f0;
    font-size: 6rem;
    padding-left: 7%;
    font-family: "Russo One", sans-serif;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem; /* Juster størrelsen for mindre skærme */
      padding-left: 5%; /* Juster indrykning for mindre skærme */
    }
  }

  .image-text-container {
    position: relative;
    width: 100%;
  }
  .text-overlay {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    /*background-color: rgba(36, 36, 36, 0.5);*/
    padding: 10px;
  }
  .udforsk {
    text-align: center;
  }
  p {
    font-size: 2rem;
  }
</style>
