---
import MainLayout from "../Layout/MainLayout.astro";

---

<MainLayout title="CLF" background="illustration2">
  <article>
    <div class="image-text-container">
      <img class="forside_img" src="/forside_img.webp" alt="" />
      <div class="text-overlay">
        <h1>LYS, KUNST, DESIGN, <br /> EVENTS OG BÆREDYGTIGHED</h1>
      </div>
    </div>


    <div class="container">
      <div class="events_text"><h2>Kære lysentusiast</h2>
      <p>Velkommen til Copenhagen Light Festival!</div>
        <p>Vi hylder respekt for mørket og balance gennem interaktion, æstetik og bæredygtighed. 
          Vores festival præsenterer installationer, der forbedrer livet gennem interaktion med mennesker, arkitektur og rum. </p>
        Vi ser frem til at byde dig velkommen og dele denne unikke oplevelse med dig. Lad os sammen udforske lysets magi og skabe uforglemmelige øjeblikke på Copenhagen Light Festival!
      </p>
      <img src="skib.avif" alt="Et billede af kanalrunfart" />
      <div>
        <div class="events_text"><h2>Events</h2></div>
        <div class="forside_grid">
          <div>
            <img src="Lysloebet.avif" alt="Et billede af folk der løber et maraton i mørke" />
            <button>Lysløbet</button>
            <p>
              Vi glæder os til i år at byde velkommen til Lysløbet der afholdes af Copenhagen Light Festival i samarbejde med DGI Nordsjælland.
            </p>
          </div>
          <div>
            <img src="dac.avif" alt="Et billede af tre personer" />
            <button>AfterDAC</button>
            <p>
              Kom til AfterDAC og mød en af drivkræfterne bag Copenhagen Light Festival, lysdesigner Jesper Kongshaug, og arkitekt Ellen T. O’Gara, indehaver af tegnestuen Platant.
            </p>
          </div>
        </div>
      </div>
      <div class="udforsk">
        <h2>Udforsk vores værker</h2>
        <button
          >Klik her <link rel="stylesheet" href="singelview.astro" /></button
        >
      </div>
    </div>
  </article>
</MainLayout>
<style>
  .forside_img {
    max-width: 100%;
    height: auto;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  h1 {
    color: #f3f0f0;
    font-size: 6rem;
    padding-left: 7%;
    font-family: "Russo One", sans-serif;
  }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem; /* Juster størrelsen for mindre skærme */
      padding-left: 5%; /* Juster indrykning for mindre skærme */
    }
  }

  .image-text-container {
    position: relative;
    width: 100%;
  }
  .text-overlay {
    position: absolute;
    bottom: 25%;
    left: 0;
    right: 0;
    /*background-color: rgba(36, 36, 36, 0.5);*/
    padding: 10px;
  }
  .udforsk {
    text-align: center;
  }
  p {
    font-size: 1rem;
  }

  .events_text {
    text-align: center;
  }

  .forside_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2%;
  }
</style>
