* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: #06080e;
}
.illustration {
  background-image: url("/artboard_1.png");
  background-repeat: no-repeat;
}
.illustration2 {
  background-image: url("/artboard_2.png");
  background-repeat: no-repeat;
}

h1 {
  color: #f3f0f0;
  font-size: 4rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: #f3f0f0;
  font-size: 1rem;
  font-family: "Lexend", sans-serif;
}

.footer_info a,
p {
  font-family: "Lexend", sans-serif;
  font-weight: lighter;
}

h2 {
  color: #f3f0f0;
  font-size: 3rem;
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
